@page "/"

<PageTitle>Home</PageTitle>

<AuthorizeView Roles="Admin">
    <Authorized>
        <h1>Bienvenido</h1>
        <p>Estas autenticado y autorizado, @context.User.Identity?.Name </p>
    </Authorized>
    <NotAuthorized>
        <h1>Bienvenido</h1>
        <p>No estas autorizado</p>
    </NotAuthorized>
</AuthorizeView>
