@typeparam Titem

@if(MyList == null)
{
    @if (Loading == null)
    {
        <Loading/>
    }
    else 
@Loading
}
else if (MyList.Count == 0)
{
    @if(NoRecord == null)
    {
        <p>No hay nada para mostrar</p>
    }
    else
    {
        @NoRecord
    }
}
else
{
    @Body
}
